.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.3rem 0;
  background-color: white;
  z-index: 1000;
  box-shadow: 2px 7px 8px 12px rgba(0, 0, 0, 0.05);
}

.warpFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.warpFooter p {
  font-size: 0.9rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.social a {
  color: black;
}

.social a:hover {
  opacity: 0.7;
}

.roomFooter {
  background-color: whitesmoke;
  margin-top: 2rem;
  padding: 0.7rem 0;
}
